{% extends 'multistore/base.html' %}

{% block title %}
Home
{% endblock %}
{% block body %}
    <div class="entry_options">
        <ul style="display: flex; width: 100%; justify-content: space-evenly; list-style: none;">
            <li> <a href="{% url 'sale' %}">Sale</a></li>
            <li> <a href="{% url 'transfer' %}">Transfer</a></li>
            <li> <a href="{% url 'returns' %}">Return</a></li>
            <li> <a href="{% url 'download' %}">Download</a></li>
        </ul>

        <ul>
            {% for inventory in stock_details %}
            
            <li>
                {{ inventory }}
            </li>
            
            {% endfor %}

        </ul>
    </div>

{% endblock %}