<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rangsutra Landing Page</title>
</head>
<body>
    <div class="entry_options">
        <ul style="display: flex; width: 100%; justify-content: space-evenly; list-style: none;">
            <li> <a href="{% url 'sale' %}">Sale</a></li>
            <li> <a href="{% url 'transfer' %}">Transfer</a></li>
            <li> <a href="{% url 'returns' %}">Return</a></li>
            <li> <a href="{% url 'download' %}">Download</a></li>
        </ul>

        <ul>
            {% for inventory in stock_details %}
            
            <li>
                {{ inventory }}
            </li>
            
            {% endfor %}
        </ul>
    </div>
</body>
</html>